<!DOCTYPE html>
<html>
<head>
	<link 
		rel="stylesheet" 
		href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" i
		ntegrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
		crossorigin="anonymous">
    <link rel="stylesheet" href="/css/movies.css">
	<title>My App</title>
</head>
<body>
	<div id=navBar>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/imdb_search">IMDb Search</a></li>
		</ul> 
	</div>
	<div id=page>