<% include partials/header %>
<link rel="stylesheet" href="/css/movies.css">

<h1>Search IMDb</h1>

<% if (typeof error !== "undefined" && error.Response === "False") { %>
    <h2><%= error.Error;%></h2>
<% }; %>

<label>Name:</label>
<input type="text" placeholder="name" name="name" required >
<label>Year:</label>
<input type="number" placeholder="year" name="year" min="1900" max="<%= new Date().getFullYear()+5;%>">
<br>
<div id="Category">
    <label>Category:</label> <br>
    <input type="radio" name="category" value="any" checked="checked"><label>Any</label><br>
    <input type="radio" name="category" value="movie"><label>Movie</label><br>
    <input type="radio" name="category" value="series"><label>Series</label><br>
    <input type="radio" name="category" value="episode"><label>Episode</label><br>
</div>
<input type="button" value="Search" id="searchSubmit">

<div id="imdb_grid" class="container">
    <div id="imdb_results" class="row">
        
    </div>
</div>

<script src="/JS/imdbSearchResults.js"></script>
<% include partials/footer %>