<% include partials/header %>

<h1>Search for a movie</h1>

<% if (typeof error !== "undefined" && error.Response === "False") { %>
    <h2><%= error.Error;%></h2>
<% }; %>

<form method="get", action="/imdb_results">
    <label>Film:</label>
    <input type="text", placeholder="name" name="filmName" required >
    <br>
    <label>Year:</label>
    <input type="number", placeholder="year" name="filmYear" min="1900" max="<%= new Date().getFullYear()+5;%>">
    <br>
    <input type="submit">
</form>

<% include partials/footer %>