<% include partials/header %>

<link 
	rel="stylesheet"
    href="/css/weather.css"
>

<div id="locationSearch" class="holder container">
    <input id="weatherInput" class="container" type="text" placeholder="Enter City or postcode">
    <div id="locationList" class="dropdown"></div>
</div>


Powered by <a href="https://www.apixu.com/" title="Weather API">Apixu.com</a>
<script src="/JS/weather.js"></script>
<% include partials/footer %>