#page input {
    margin-bottom: 5px;
    margin-right: 24px;
    border: 1px solid #aaa;
}

#page input[type=radio] {
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #aaa;
}

#page input[type=text] {
	width: 200px;
}

#page input[type=number] {
	width: 50px;
}

#Category label {
	display: inline-block;
	width: 60px;
	text-align: left;
}

#imdb_results th {
	padding: 3px 3px 3px 3px;
	font-weight: bold;
}

#imdb_results {
	margin-bottom: 0;
	padding: 0;
	border-collapse: collapse;
}

#imdb_results tr:nth-of-type(even) {
	background: #fff;
	border: 1px solid #fff;
}

#imdb_results tr:nth-of-type(odd) {
	background: #ccc;
	border: 1px solid #ccc;
}
